// -- Form Classes & ID's -- //


#main_input_box {

}

.edit_input_box {

}


// -- Textbox Classes & IDs -- //

#custom_textbox {      
}

.itemBox {
}

.form_control {
	display: inline-block;
}

// -- Button Classes & IDs -- //

.add_button {
	margin: 10px 0px 10px 0px;
}

.delete {
}

.edit {
}

.checkbox {
	margin-top: 20px;
}

// -- List Items Classes & ID's --//

.list_of_items {

}

.completed_item {
	text-decoration: line-through;
}

h1 {
	display: inline-block;
	color: #292b33;
}

body {
	background-color: #f6f6f6;
}

.text_holder {
	display: block;
	max-width: 100%;
	word-wrap: break-word;
}

#main {
	margin-top: 50px;
	background-color: #ffffff;
	border-radius: 5px;
	width: 50%;
	border: 1px solid #545454;
}