ul {list-style-image: url('img/icon8.png');}
.sizcu
{
  padding-inline-start:168px;
  
}
div {
  color: black;
   
 }
   
 span:hover + div {
 color:greenyellow;
 }
.dash{
  border: 0 none;
  border-top: 1px dashed white;
  background: none;
  height:0;
  width:30px;
}
.a9
{
  color:white;
}
.a81
{
  border-radius:50%;
  font-size:60px;
  color:#7e9933;
  background-color: white;
}
.a8
{
  border-radius:50%;
  font-size:18px;
  color:#7e9933;
  background-color: white;
}
.a7
{
font-size:15px;
color:white;
}
.a5
{ font-size:20px;
  color:#7e9933;
}
.a6
{ font-size:7px;
  color:#bababa;
}
.a4
  {
    padding:2px 2px 2px 2px;
font-size:18px;
color:white;
border-radius: 50%;
border:1px solid white;
}
.a3
{
  font-size:20px;
  color:#bababa;
  text-decoration:none;
}
.sizec{width:100%;}
.backg6{  background-image: url('img/31.jpg');background-size:100% 100%;width:100%;height:auto;}
.tab 
{ 
       display:inline-block; 
       margin-left: 20px; 
}
input[type=text] {

  width: 210px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 10px;
  background-color: white;
  background-image: url('img/top_search.png');
  background-position: right ;
 
  background-repeat: no-repeat;
  padding: 10px 15px 10px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;

}
input[type=text]:focus {
  width: 100%;
}
#iconcolor{color:black;border-radius:50%;background-color: grey;padding-top:2px;padding-bottom:2px;height:18px;width:18px;}
.butn{color:white;}
.but1{display:inline-block;}
.button5 
{height:50px;width:50px;
  border-radius: 50%;
  background-color: white; /* Green */
  border: solid greenyellow;
  color: #a7c23f;
  border-width:5px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
}
.button {
 
  display: inline-block;
  padding: 10px 30px 10px 30px;;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #70716b;
  border: solid;
  border-radius: 5px;
  border-color:white;
  border-width:2px;
}
.button1 {
  display:inline-block;
  padding:15px 16px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #bfe244;
  border: none;
  border-radius: 5px;
  
}
.button2 {
  background-color: #bfe244;
  border: none;
  color: white;
  padding: 13px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.button3 {
  background-color: white;
  border-color: green ;
  border:solid;
  border-radius:5px;
  border-width:2px;
  color: green;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button41
{ border:solid;
  border-width:2px;
  text-align: center;
  border-color:greenyellow ;
  font-size:15px;
  color:greenyellow;
  padding:8px 6px 8px 6px;
  width:100px;
  background-color: white;
  border-radius: 2px;
}
@media screen and (max-width: 600px) {
  div.btnresp{  
    padding-right: 50px;
     
   margin-left: 110px;
  }
}
.a1
{
  opacity: 0.8;
  filter: alpha(opacity=70);
  text-decoration:none;color:white;
  background-color: #7e9933;
  height: 85px;
  width:135px;
  font-size:30px;
  padding: 24px 10px 18px 10px;
  text-align: center;
  }
.btnresp{padding-bottom:50px;padding-right:20px;margin-left:0px;}
button.button41:hover{background-color:greenyellow;color:white;}
p.hovp:hover{color:greenyellow;}
#ppadg{padding:0px 0px 0px 0px;}
.button4
{ border:solid;
  border-width:2px;
  text-align: center;
  border-color:greenyellow ;
  font-size:15px;
  color:greenyellow;
  padding:8px 6px 8px 6px;
  width:100px;
  background-color: white;
  border-radius: 2px;
}
.button6{
  background-color: #bfe244;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 3px 1px;
  cursor: pointer;
  border-radius: 5px;
}

.button1:hover {background-color: #3e8e41}

.button1:active {
  background-color: #3e8e41;
  
  transform: translateY(4px);
}
.button2:hover {background-color: #3e8e41}

.button2:active {
  background-color: #3e8e41;
  
  transform: translateY(4px);
}

span.b 
{
    text-align:center;
  display: inline-block;
  width: 300px;
  height: 450px;
  padding: 5px;
    color:black;
  background-color: #F1F1F1;; 
}
#img1
{
     border-style:solid;border-width:6px;border-color:#cccecd;
}

@media screen and (max-width: 600px) {
  div.imgd1{ 
    height:100px; width:100px;
   
  }
}
.imgd1{
  height:300px; width:320px;
}
#imgp1
{
    padding-bottom:20px;
    padding-top:20px;
}
#button1
{
    background-color: white;border:5px solid greenyellow;border-radius:3px;padding:6px 6px 6px 6px;
    
}
#font1
{
    font-size:20px;font-family:arial;color:black;
}
#img2
{
     width:150px;border-radius:50%;border-style:solid;border-width:4px;border-color:greenyellow;
}
#font2
{
     font-size:19px;font-family:arial;color:black;text-align:center;
}
#font3
{
     font-size:20px;
}
#font4
{
     font-size:20px;font-family:Arial;
}
#font5
{
    color:#90908e;
}
#font6
{
  color:#a7c23f;
}#menu{color:#a7c23f;}
#menuclick:hover{color:#a7c23f;}
#div21
{
    background-color:#a6a9a2;
    color:White;
}
@media screen and (max-width: 600px) {
  div.div31{ 
    background: url('img/hbg2.png') no-repeat center; 
background-size: 100% 100%;
height: 500px;
width: 100%;
  
  }
}
.div31{
  background: url('img/hbg2.png') no-repeat center; 
background-size: 100% 100%;
height: 500px;
width: 100%;
}


#div51
{
    background:url('img/clients_comment_bg.png') no-repeat center;
    background-size: 100% 100%;
    height: 500px;
   width: 100%;
  opacity: 0.7;
  filter: alpha(opacity=50);    
}
#div61
{
background:url('img/31.jpg') no-repeat center;
    background-size: cover;
  height: 100%;
   position: relative;    
}
#div62{padding-bottom:20px;padding-left: 100px;padding-right:0px;padding-top: 20px;}
#div63{padding-bottom:20px;padding-left:100px;padding-top: 20px;}
#div71
{
  background:url('img/30.jpg') no-repeat center;
    background-size: cover;
  height: 500px;
  position: relative;  
}
#example1 {
 
  opacity: 0.7;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
#div71{height:500px;}
#img71
{width:100px;height:100px;border-radius:50%;border-style:solid;border-width:4px;border-color:greenyellow;
}
@media screen and (max-width: 600px) {
  div.font71 {
    font-size:10px;
  }
}
.font71{
  font-size:14px;font-family:arial;color:white;
}

#div101
{
    background-color: #333333;color:#90908e;
}
#div111
{
 padding: 12px;
  color:white;
       background-color:black;    
}
#padg1
{
     padding-top:20px;
    padding-left:200px;
}
#padg2
{
   padding-top:10px;
    padding-left:200px;
}
#padg3
{ 
    padding-top:20px;
    padding-right:100px;
}
.sizc
{
  width: 387px;
  
}
@media screen and (max-width: 768px) {
  div.confresp {width:100%;
    padding-right: 37px;
    padding-left: 6px;
    margin-right: auto;
    margin-left: auto;
   
  }
}
@media screen and (max-width: 768px) {
  div.leftsection8 {
    text-align:left;
    padding: 0px 0px 0px 0px;
   
  }
}
@media screen and (max-width: 768px) {
  div.centersection8 {
    text-align:left;
    padding: 0px 0px 0px 0px;
   
  }
}
@media screen and (max-width: 768px) {
  div.rightsection8 {
    text-align:left;
    padding: 0px 0px 0px 0px;
   
  }
}
@media screen and (max-width: 600px) {
  div.leftsection {
    text-align: left;
  }
}
.leftsection{
text-align: center;
padding-left:30px;
padding-top: 20px;
}
@media screen and (max-width: 600px) {
  div.rightbottomsection {
    padding-left: 120px;
  }
}

.rightbottomsection{
  padding-top:0px;padding-left: 60px;

}
@media screen and (max-width: 600px) {
  div.righttopsection {
    padding-left: 60px;
  }
}

.righttopsection{padding-top:20px;padding-left:100px;}
@media screen and (max-width: 768px) {
  div.leftsection4 {
    padding-top:10px;
    padding-bottom: 0px;
    padding-left: 40px;text-align:left;
  }
}
@media screen and (max-width: 600px) {
  div.leftsection4 {
    padding-top:10px;
    padding-bottom: 0px;
    padding-left: 30px;text-align:left;
  }
}
.leftsection4{text-align:left;
padding-left: 150px;
padding-top: 10px;
}
@media screen and (max-width: 768px) {
  div.rightsection4 {
    padding-top:130px;
    padding-bottom: 0px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 600px) {
  div.rightsection4 {
    padding-top:10px;
    padding-bottom: 0px;
    padding-left: 20px;
  }
}

.rightsection4{padding-top: 95px;
padding-left:10px

}
@media screen and (max-width: 768px) {
  div.leftsection1 {
    padding-top:150px;
    padding-bottom: 0px;
    padding-left: 80px;
  }
}
@media screen and (max-width: 600px) {
  div.leftsection1 {
    padding-top:50px;
    padding-bottom: 0px;
    padding-left: 20px;
  }
}
.leftsection1{
padding-left: 200px;
padding-top: 160px;
}

#imgp31
{padding-top:125px;padding-left:80px;}

@media screen and (max-width: 600px) {
  div.rightsection1 {
    padding-top:0px;
    padding-bottom: 100px;
    padding-left: 0px;
  }
}
.rightsection1{
  padding-top:100px;padding-left:0px
}

#padg4
{ 
    padding-top:10px;
    padding-right:100px;
}


#padg61{text-align:center;padding-left: 0px;
  padding-right: 0px;
  }
#padg5{padding-top:10px;padding-left:200px;padding-right:60px;}
#padg6{padding-top:10px;padding-left:200px;padding-right:60px;}
#padg7{padding-top:10px;padding-right:100px;padding-left:200px;}
#padg8{padding-top:50px;text-align:center;}
@media screen and (max-width: 768px) {
  div.resp100 {
   padding:30px 0px 0px 0px;
  }
}
@media screen and (max-width: 600px) {
  div.resp100 {
   padding:30px 30px 30px 30px;
  }
}
.resp100{
  padding:70px 200px 35px 130px;background-color: #333333;color:#90908e;
}
@media screen and (max-width: 768px) {
  div.resp10 {
   padding-left:25px;padding-right:0px;
  }
}
@media screen and (max-width: 600px) {
  div.resp10 {
   padding-left:0px;
  }
}
.resp10{
  padding-left:130px;background-color: #333333;color:#90908e;
}
@media screen and (max-width: 768px) {
  div.resp101 {
   padding:0px 20px 0px 0px;
  }
}
@media screen and (max-width: 600px) {
  div.resp101 {
   padding:0px 30px 0px 30px;
  }
}
.resp101{
  padding:70px 50px 35px 0px;text-align:left;background-color: #333333;color:#90908e;
}
@media screen and (max-width: 768px) {
  div.resp102 {
   padding:10px 0px 0px 20px;background-color: #333333;color:#90908e;
  }
}
@media screen and (max-width: 600px) {
  div.resp102 {
   padding:0px 30px 0px 30px;background-color: #333333;color:#90908e;
  }
}
.resp102{ padding:0px 200px 0px 130px;text-align:left;background-color: #333333;color:#90908e;
}

@media screen and (max-width: 600px) {
  div.rightsection8 {text-align:center;
    padding:0px 0px 0px 0px;
  }
}
@media screen and (max-width: 600px) {
  div.respbtn{text-align:center;
   
  }
}
.respbtn{text-align:left;}
.rightsection8{
  padding-top:30px;padding-right:100px;padding-left:35px;text-align:left;
}
@media screen and (max-width: 600px) {
  div.leftsection8 {text-align:center;
    padding:0px 0px 0px 0px;
  }
}
.leftsection8{
  padding-top:30px;padding-right:10px;padding-left:130px;text-align:left;
}
@media screen and (max-width: 600px) {
  div.centersection8 {text-align:center;
    padding:0px 0px 0px 0px;
  }
}
.centersection8{
  padding-top:30px;padding-left:90px;padding-right:50px;text-align:left;
}


#padg11{padding-left:30px;}

@media screen and (max-width: 600px) {
  div.rowresp61 {padding-top:10px;
  }
}
.rowresp61{padding-top:10px;}
#card62{width:70%;padding-top: 20px;}
 #card60{padding-top:10px;}   
 @media screen and (max-width: 600px) {
  div.coldiv51 {padding-top:10px;
  }
}
.coldiv51{padding-top:40px;}


   @media screen and (max-width: 600px) {
    div.coldiv1 {padding-top:50px;padding-left:30px;padding-bottom:30px;
      text-align: center;
    }
  }
  .coldiv1{padding-top:50px;padding-left:150px;padding-bottom:50px;}
  
   @media screen and (max-width: 600px) {
    div.coldiv2 {padding-left:30px;padding-bottom:30px;padding-top:0px;
      text-align: center;
    }
  }
  .coldiv2{padding-top:160px;padding-bottom:50px;}
   
   #font21{font-family:Times New Roman;font-size:19px;color:white;}
   #font31{color:#373936; font-family:Georgia;}
.hero-image {
  background: url(img/hbg6.png) no-repeat center; 
  background-size: cover;
  height: 500px;
  position: relative;
  
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
#p1
{
    font-size:14px;
}
#font7
{
font-size:15px;font-family:arial;color:#90908e;
}

#ip2
{
    padding-top:20px;
    padding-bottom:10px
}
#divp3
{
    padding-top:0px;
       padding-bottom:0px
}
#divp4
{
    padding-top:10px;
       padding-bottom:10px
}

.carousel-inner img{width:100%;height:100%;}
.carousel-caption{position:absolute;top:50%;transform:TranslateY(-50%);}
.carousel-caption h1{font-size:500%;text-transform:uppercase;}
.caroesel-caption h3{font-size:200%;font-weight:500;}
.aaa{float:center;}
.bbb{font-size:16;font-family:arial;color:#90908e;}
.f1{color:green;}
.f2{color:#90908e;}
.f3{float:right;}
.f4{font-size:19px;font-family:Verdana;color:white;}
.d1{background: url(hbg6.png) no-repeat center;background-size: cover;height: 500px;}
.d2{text-align: center;padding:200px;}
.i1{float:right;}
.d2{text-align: center;position: absolute;top: 50%;left: 50%;padding:0px 200px 15px 15px;}
.d3{padding:40px 10px 60px 200px;text-align:left;}
.d4{padding:200px 0px 80px 40px;text-align:left;}
.i2{border-style:solid;border-width:6px;border-color:#cccecd;}
.i3{height:500px;width:1300px;}
.b1{background-color: white;border:5px solid #97b63f;}

#paddg11{padding-left: 150px;}
#dash
{
  color:white;
 
}
#pcolor
{
  color:white;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding-top: 17px;
}

